*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.h-icon{
    margin-top: 20px;
    margin-left: 20px;
}
.h-icon a{
    font-size: 2vw;
    color: gold;
}


body{  
    background-image: url("background.jpg");
    width: 100%;
    height:100vh;
}


.main{
    height:100vh;
    width:20%;
    backdrop-filter: blur(10px);
    box-shadow:0 0 6px rgba(225,225,255,0.5);
    transition: box-shadow 0.3s;
}
.main:hover{
    box-shadow: 0 0 10px black;
}

.brand{
    width:100%;
    height: 60px;
    display:flex;
    color:rgb(255, 254, 254);
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    backdrop-filter: blur(10px);
    box-shadow:0 0 6px rgba(225,225,255,0.5);
    background-color: black;
    text-shadow: 1px 1px 2px rgba(255, 255, 255,0.3);
    transition: box-shadow 0.3s;

}

.brand a{
    font-size:2vw;
    color: gold;
}

.brand:hover{
   
    box-shadow: 0 0 10px black;
}


.icons {
    margin-top: 20px;
padding-left: 20px;
width: 100%;
}
.icons li {
    margin-top:30px;
}
.icons a{
    text-decoration: none;
margin-top: 20px;
font-size:2vw;
color:#4070f4;
}

.text{
    margin-left:15px ;
    color:white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    transition: text-shadow 0.3s;
    
}
.text:hover{
    text-shadow: 2px 2px 4px rgba(255, 252, 252,o.4);
    color: gray;
}

.media{


    margin-top: 350px;
    width:100%;
    height: 60px;
    display:flex;
    color:rgb(255, 254, 254);
    align-items: center;
    justify-content:center;
    padding: 15px;
    backdrop-filter: blur(10px);
    box-shadow:0 0 6px rgba(225,225,255,0.5);
    background-color: black;
    text-shadow: 1px 1px 2px rgba(255, 255, 255,0.3);
    transition: box-shadow 0.3s;

}

.media:hover{
   
    box-shadow: 0 0 10px black;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    color:white;
    height: 34px;
    width:34px;
    margin: 8px;
    background-color: #4070f4;
    text-decoration: none;
    /* text-shadow: 1px 1px 2px rgba(255, 255, 255,0.3); */
    transition: box-shadow 0.3s;
}
.link:hover{
    box-shadow: 0 0 10px gold;
    height: 40px;
    width:40px;
}


